//全局颜色部分
//字体，部分
$font_info: #909399; //阴影,不可编辑,提示
$font_main: #303133; //主要字体
$font_err: #F56C6C; //错误
$font_warning: #E6A23C; //警告
$font_success: #67C23A; //成功

$size-main: 14px;
//边框部分
$border_one: #DCDFE6;
$border_two: #F2F6FC;

$icon-main: #4185F4;
