<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="//at.alicdn.com/t/font_1448499_cwg7dlnc3jc.css" rel="stylesheet">
    <!--获取用户ip信息-->
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
