/* CSS Document */
html, body, div, span, object, iframe,p, blockquote, pre,abbr, address, cite, code,del, dfn,
em, img, ins,kbd, q, samp,small, sub, sup, var,b, i,dl, dt, dd,
ol, ul, li,fieldset, form, label, legend,table, caption, tbody,
tfoot,thead,tr, th, td,article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary,time, mark,
audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  outline-style:none;/*FF*/
  font-style: normal;
  font-weight:normal;
}
li{
    list-style-type:none;
}
body {
  line-height:1;
}
a{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
a,a:hover,a:focus{
  text-decoration:none;
  bblr:expression(this.onFocus=this.blur());/*IE*/
  outline-style:none;/*FF*/
  color:#333;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}

input, select {
  vertical-align:middle;
}
/*css为clearfix，清除浮动*/
.clearfix::before,
.clearfix::after{
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearfix:after{clear:both;}
.clearfix{
  *zoom:1;/*IE/7/6*/
}
*{box-sizing: border-box;}
/*css隐藏滚动条不支持ie*/
/*.element::-webkit-scrollbar {display:none}*/
